<template>
  <div>
    <!--Charts-->
    <b-container fluid class="mt--7">
      <b-row>
        <b-col xl="8" class="mb-5 mb-xl-0">
          <div class="bg-white rounded shadow p-4">
            <b-col md="6" v-if="absent.data == null">
              <b-form @submit.prevent="absentIn">
                <img src="../../public/img/sleep.jpg" width="300" />
                <b-button
                  type="submit"
                  variant="primary"
                  @click="absent = !absent"
                  class="mt-3"
                  >Absen in</b-button
                >
              </b-form>
            </b-col>
            <b-col md="6" v-else-if="absent">
              <img src="../../public/img/coffe.jpg" height="200" />
              <b-button
                type="submit"
                variant="danger"
                class="mt-3"
                @click="absent = !absent"
                >Absen Out</b-button
              >
            </b-col>
          </div>
          <!-- {{ user.name }} -->
        </b-col>
      </b-row>
      <!-- End charts-->

      <!--End tables-->
    </b-container>
  </div>
</template>

<script>
import '../config/Api'

export default {
  data() {
    return {
      absent: "",
    };
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },
  methods: {
    absentIn() {
      const uri = "absent-in";
      const data = {
        user_id: this.user.data.id,
      };
      console.log(data)
      axios
        .post(uri, data)
        .then((response) => {
          console.log(response);
          this.checkAbsent()

        })
        .catch((error) => {
          console.log(error);
        });
    },
    absentOut() {
      const uri = "absent-out";
      const data = {
        user_id: this.user.data.id,
      };
      axios
        .post(uri, data)
        .then((response) => {
          console.log(response);
          this.checkAbsent()
        })
        .catch((error) => {
          console.log(error);
        });
    },
    checkAbsent(){
      const uri = "absent-data"
      const data = {
        user_id: this.user.data.id,
      };
      axios
        .post(uri, data)
        .then((response) => {
          this.absent = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  mounted() {
    this.checkAbsent()
  },
};
</script>
