<template>
  <div>
    <b-container fluid class="mt--7">
      <b-row>
        <b-col class=" bg-white pt-4 rounded shadow">
          <b-table
            striped
            hover
            :fields="fields"
            :items="absents"
            :per-page="perPage"
            :current-page="currentPage"
            aria-controls="absensi-table"
            
          ></b-table>
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="absensi-table"
          ></b-pagination>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>

export default {
  data() {
    return {
      fields: ["absent_in", "absent_out", "date", "user_id"],
      absents: [],
      perPage: 10,
      currentPage: 1,
      pager: {},
      pageOfItems: []
    };
  },
  methods: {
    getAbsentLists() {
      const uri = "http://127.0.0.1:3001/api/absent/list";
      let config = {
        headers: {
          Authorization: "Bearer " + this.$store.state.token,
        },
      };
      this.axios
        .get(uri, config)
        .then((response) => {
          console.log('LISTS', response);
          this.absents = response.data.data
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  computed: {
    rows() {
      return this.absents.length;
    },
  },
  mounted() {
    this.getAbsentLists()
    console.log(this.$store.state.token)
  }
};
</script>
<style>
.el-table.table-dark {
  background-color: #172b4d;
  color: #f8f9fe;
}

.el-table.table-dark th,
.el-table.table-dark tr {
  background-color: #172b4d;
}

.el-table.table-dark td,
.el-table.table-dark th.is-leaf {
  border-bottom: none;
}
</style>
